body {
    margin: 0;
    
}

.menu {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: static;
    top: 0;
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-around;
}

.espacador{
  width: 30%;
}

a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
}

a:hover {
    color: greenyellow;
}
