<mat-toolbar color="primary" class="menu">
  <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
  <a mat-button routerLink="/carros" routerLinkActive="active">Carros</a>
  <a mat-button routerLink="/pedidos" routerLinkActive="active">Meus Pedidos</a>
  <div class="espacador"></div>
  <div *ngIf="!logado">
    <a routerLink="/login" routerLinkActive='active'>Login</a>
    <a routerLink="/cadastro" routerLinkActive='active'>Cadastro</a>
  </div>
  <div *ngIf="logado">
    <a routerLink="/perfil" routerLinkActive='active'>Olá {{account.nomeUsuario}}</a>
  </div>
  <div *ngIf="logado && account.admin">
    <a routerLink="/admin" routerLinkActive='active'>Painel administrativo</a>
  </div>
</mat-toolbar>
