.carros-alugados {
    display: grid;
    place-items: center;
}

.not-found{
    display: grid;
    place-items: center;
}

.carro-card {
    display: grid;
    place-items: center;
    margin-top: 10px;
    width: 20rem;
}