<div class="carros-alugados">
    <mat-card *ngFor="let carro of carros" class="carro-card">
        <mat-card-header>
          <mat-card-title>{{carro.modelo}}</mat-card-title>
          <mat-card-subtitle>{{carro.categoria}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Placa: {{carro.placa}}</p>
            <p>Valor por dia: {{carro.valorDiaria}}</p>
            <p>Disponibilidade: {{carro.disponivel}}</p>
        </mat-card-content>
      </mat-card>
</div>