<div class="address">
    <div class="form-group">
        <label>CEP</label>
        <input class="form-control" type="text" name="cep" id="cep" [(ngModel)]="address.cep" required>
        <button type="button" (click)="buscaCep()">BUSCAR</button>
    </div>
    <div class="form-group">
        <label>Rua</label>
        <input type="text" name="rua" id="rua" [(ngModel)]="address.rua">
    </div>
    <div class="form-group">
        <label>Numero</label>
        <input type="text" name="numero" id="numero" [(ngModel)]="address.numero">
    </div>
    <div class="form-group">
        <label>Cidade</label>
        <input type="text" name="cidade" id="cidade" [(ngModel)]="address.cidade">
    </div>
    <div class="form-group">
        <label>Bairro</label>
        <input type="text" name="bairro" id="bairro" [(ngModel)]="address.bairro">
    </div>
    <div class="form-group">
        <label>Estado</label>
        <input type="text" name="estado" id="estado" [(ngModel)]="address.estado">
    </div>
    <button (click)="onSubmit()">Cadastrar</button>
</div>