<form  (ngSubmit)="onSubmit()" [formGroup]="carroForm">
  <h2>Atualizar carro existente</h2>
  <div class="atualizar-carro">
    <label>Selecione o carro</label>
    <mat-select name="carroSelecionado" class="carro-select" [(value)]="carroSelecionado">
        <mat-option *ngFor="let carro of carros" [value]="carro">
          {{carro.modelo | uppercase}} - {{carro.placa | uppercase}}
        </mat-option>
      </mat-select>
    <div *ngIf="carroSelecionado.id!=0">
      <div>
        <label>Modelo: </label>
        <input matInput formControlName="modelo" type="text" [value]="carroSelecionado.modelo" [(ngModel)]="carroSelecionado.modelo">
      </div>
      <div>
        <label>Placa: </label>
        <input matInput formControlName="placa" type="text" [value]="carroSelecionado.placa" [(ngModel)]="carroSelecionado.placa">
      </div>
      <div>
        <label>Valor da diária: </label>
        <input matInput formControlName="valorDiaria" type="number" [value]="carroSelecionado.valorDiaria" [(ngModel)]="carroSelecionado.valorDiaria">
      </div>
      <div>
        <label>Categoria: </label>
        <input matInput formControlName="categoria" type="text" [value]="carroSelecionado.categoria" [(ngModel)]="carroSelecionado.categoria">
      </div>
      <div>
        <label>Url da Imagem: </label>
        <input matInput formControlName="imageUrl" type="text" [value]="carroSelecionado.imageUrl" [(ngModel)]="carroSelecionado.imageUrl">
      </div>
      <div>
        <label>Disponível: </label>
        <input formControlName="disponivel" type="checkbox" [value]="carroSelecionado.disponivel" [(ngModel)]="carroSelecionado.disponivel">
      </div>
      <button type="submit">Atualizar</button>
    </div>
  </div>
</form>
