<div class="perfil">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Olá {{account.nome}}</mat-card-title>
    </mat-card-header>
    <mat-card-title>Dados pessoais:</mat-card-title>
    <mat-card-content>
      <p>Nome completo: {{account.nome}}</p>
      <p>CPF: {{account.cpf}}</p>
      <p>Número da CNH: {{account.cnh}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Endereço:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Rua: {{address.rua}}</p>
      <p>Número: {{address.numero}}</p>
      <p>Bairro: {{address.bairro}}</p>
      <p>Cidade: {{address.cidade}}</p>
      <p>Estado: {{address.estado}}</p>
      <p>Cep: {{address.cep}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pedidos:</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="pedido.carro">
      <p>Carro: {{pedido.carro}}</p>
      <p>Dias locados: {{pedido.diasLocacao}}</p>
      <p>Valor do pedido: {{pedido.valorTotal}}</p>
      <p>Status do pedido: {{pedido.status}}</p>
    </mat-card-content>
    <mat-card-content *ngIf="!pedido.carro">
      <p>Nenhum pedido realizado</p>
    </mat-card-content>
  </mat-card>
</div>
