<mat-grid-list cols="4" >
  <div *ngFor="let carro of carros">
    <mat-grid-tile *ngIf="carro.disponivel">
      <mat-card class="card-carro">
        <mat-card-header class="card-carro-header">
          <h3>{{carro.modelo}}</h3>
        </mat-card-header>
        <mat-card-content>
          <p>Categoria: {{carro.categoria}}</p>
          <p>Valor da diária: {{carro.valorDiaria}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <span routerLink="/new-order" (click)="getCarroId(carro.id)"> Alugar</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
