<mat-grid-list cols="4">
  <div *ngFor="let carro of carros" >
    <mat-grid-tile *ngIf="carro.disponivel">
      <mat-card class="car-container">
        <mat-card-header>
          <mat-card-title>{{carro.modelo}}</mat-card-title>
          <mat-card-subtitle>{{carro.categoria}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="car-image" src="{{carro.imageUrl}}" alt="carro do modelo {{carro.modelo}}">
        <mat-card-actions align="end">
          <button mat-button (click)="openDialog(carro.id)">Alugar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
