

.div-showroom {
    position: absolute;
    top: 5rem;
    margin-left: 2rem;
}

.showroom {
    background-color: aliceblue;
    width: 10rem;
    height: 9rem;
    float: left;
    position: relative;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.rent-buttom {
    list-style-type: none;
    display: flex;
    justify-content: end;
}