

<section class="cadastro">
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="cadastro-form">
        <div class="info-account">
          <h1 class="text-center"> Criar uma nova conta</h1>
            <mat-form-field>
                <label>Nome:</label>
                <input matInput type="text" name="nome" id="nome" [formControl]="nome" required>
                <mat-error>Nome é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field>
                <label>CPF:</label>
                <input matInput type="text" name="cpf" id="cpf" [formControl]="cpf" required>
                <mat-error>CPF é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field>
                <label>CNH</label>
                <input matInput type="text" name="cnh" id="cnh" [formControl]="cnh" required>
                <mat-error>CNH é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field>
                <label>E-mail</label>
                <input matInput type="text" name="login" id="login" [formControl]="login" required>
                <mat-error>E-mail é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field>
                <label>Senha</label>
                <input matInput type="password" name="senha" id="senha" [formControl]="senha" required>
                <mat-error>Senha é obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="address">
            <mat-form-field class="cep-form">
                <label>CEP</label>
                <input matInput type="text" name="cep" id="cep" [(ngModel)]="address.cep" required>
              </mat-form-field>
              <button class="buscar" type="button" (click)="buscaCep()">BUSCAR</button>
            <mat-form-field class="form-group">
                <label>Rua</label>
                <input matInput type="text" name="rua" id="rua" [(ngModel)]="address.rua" required>
            </mat-form-field>
            <mat-form-field class="form-group">
                <label>Numero</label>
                <input matInput type="text" name="numero" id="numero" [(ngModel)]="address.numero" required>
            </mat-form-field>
            <mat-form-field class="form-group">
                <label>Cidade</label>
                <input matInput type="text" name="cidade" id="cidade" [(ngModel)]="address.cidade" required>
            </mat-form-field>
            <mat-form-field class="form-group">
                <label>Bairro</label>
                <input matInput type="text" name="bairro" id="bairro" [(ngModel)]="address.bairro" required>
            </mat-form-field>
            <mat-form-field class="form-group">
                <label>Estado</label>
                <input matInput type="text" name="estado" id="estado" [(ngModel)]="address.estado" required>
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Criar conta</button>
    </form>
</section>
