.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.text-center{
    display: flex;
    justify-content: center;
}

.cadastro-form{
    width: 480px;
    padding: 20px;
    border-radius: 3.01%;
    background-color: rgba(0, 0, 0, .8);
}

.info-account{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.address{
    display: flex;
    justify-content: center;
    flex-direction: column;
}